.graph__container {
    border: 5px solid black;
}

.graph__title {
    font-size: 2.5em;

    margin-top: 5px;

    text-align: center;
}

.graph-forms__container {
    background-color: rebeccapurple;

    padding: 0 10px;

    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.graph-forms__table {
    background-color: teal;
}