.form-two__container {
    /* background-color: yellow; */
    padding: 5px;

    display: grid;
    grid-template-areas: "form1 form2";
}

.form-two__container form {
    width: 100%;
}

.form-start__container {
    /* background-color: violet; */
    height: 100%;

    grid-area: form1;

    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
}


.form-goal__container {
    /* background-color: red; */
    height: 100%;

    grid-area: form2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button__container {
    /* background-color: red; */

    padding: 5px;

    display: flex;
    justify-content: center;
}

.button__container>button {
    width: 100%;
}

.form__error {
    background-color: transparent;

    align-self: flex-start;
    font-size: 12px;
}